div {
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    position: relative;
    animation-name: example;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    text-shadow: 1px 1px 1px rgba(0, 255, 0, 0.5);
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:1px;}
    50%  {left:1px; top:1px;}
    75%  {left:1px; top:0px;}
    100% {left:0px; top:0px;}
}