<div class="container fluid">
  <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
          <h1>User Registration</h1>
      </div>
  </div>
  
  <div class="row" *ngIf="!isSubmitted">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
        <!--Declare the template variable "#regiForm". "onSubmit" function declare on the app.component.ts. Disable the internal browser "novalidate"-->
          <form #regiForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <!--Renders bootstrap forms once ngSubmit is true-->
              <div class="form-group">
                  <div>
                      <!--Bind email field with the model object--> 
                      <label for="email">Email Address </label>
                  </div>
                  
                  <input id="email" #email="ngModel" name="email" type="text" [(ngModel)]="model.email" placeholder="you@domain.com" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
                        <div *ngIf="email.errors && (email.touched || isSubmitted)">
                            <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
                                Email is required.
                            </div>
                            <div [hidden]="!email.errors.pattern" class="help-block alert alert-danger">
                                <span class="help-block alert">
                                Email is invalid.
                                </span>
                            </div>
                        </div>
              </div>

              <div class="form-group">
                  <div>
                    <!--Bind password field with the model object--> 
                          <label for="password">Password</label>
                  </div>
                  <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="model.password" placeholder="Passw0Rd1" class="form-control" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required/>         
                        <div *ngIf="password.errors && (password.touched || isSubmitted)">
                                <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-danger">
                                    Password is required.
                                </div>
                                <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">Password must include special characters (!@#$%^&*). Alphanumeric and both uppercase & lowercase.
                                    </span>
                                </div>
                            </div> 

              </div>
              <div class="form-group">
                  <div>
                    <!--Bind confirm password field with the model object-->
                      <label for="confirmpassword">Confirm Password</label>
                  </div>
                  <input id="confirmpassword" #confirmpassword="ngModel" name="confirmpassword" [(ngModel)]="model.confirmPassword" type="password" placeholder="something secret"  class="form-control" required [required]="model.password" />
                        <div *ngIf="confirmpassword.errors && (confirmpassword.touched || isSubmitted)">
                                <div [hidden]="!confirmpassword.errors.required && confirmpassword.dirty" class="help-block alert alert-danger">
                                    Confirm Password is required.
                                </div>
                        </div>
                        <div *ngIf="confirmpassword.dirty" [hidden]="!(model.confirmPassword != model.password)" class="help-block alert alert-danger">
                                <span class="help-block alert alert-danger">
                                    Password do not match.
                                </span>

                        </div>
                          
              </div>

              <div class="form-group">
                  <div>
                    <!--Bind first name field with the model object-->
                      <label for="firstName">First Name </label>
                  </div>
                  <input id="firstName" #firstName="ngModel" name="firstName" type="text" [(ngModel)]="model.firstName" placeholder="Emily" class="form-control" required/>
                        <div *ngIf="firstName.errors && (firstName.touched || isSubmitted)">
                                <div [hidden]="!firstName.errors.required && firstName.dirty" class="help-block alert alert-danger">
                                    First Name is required.
                                </div>
                        </div> 
              </div>

              <div class="form-group">
                  <div>
                    <!--Bind last name field with the model object-->
                      <label for="lastName">Last Name </label>
                  </div>
                  <input id="lastName" #lastName="ngModel" name="lastName" type="text" [(ngModel)]="model.lastName" placeholder="Tan" class="form-control" required/>
                        <div *ngIf="lastName.errors && (lastName.touched || isSubmitted)">
                                <div [hidden]="!lastName.errors.required && lastName.dirty" class="help-block alert alert-danger">
                                    Last Name is required.
                                </div>
                        </div> 
              </div>

              <div class="form-group">
                <!--Bind gender field with the model object-->
                  <label for="gender">Gender</label>
                  <br/>
                  <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[0]}}"/> Male
                  <br/>
                  <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[1]}}" /> Female
                  <br/>
                  <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[2]}}" /> Unisex
                  <br/>
                  <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[3]}}" /> Alien
              </div>
              
              <div class="form-group">
                <!--Bind date of birth field with the model object-->
                  <label for="dob">Date of Birth</label>
                  <input id="dob" name="dob" type="date" #dateOfBirth="ngModel" class="form-control" [(ngModel)]="model.dateOfBirth"  value="{{ model.dateOfBirth }}" required/>
                        <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || isSubmitted)">
                                <div [hidden]="!dateOfBirth.errors.required && dateOfBirth.dirty" class="help-block alert alert-danger">
                                    Date of Birth is required.
                                </div>
                                <!--<div [hidden]="!dateOfBirth.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">You must be at least 18 years old.
                                    </span>
                                </div>-->
                        </div>  
              </div>

              <div class="form-group">
                <!--Bind address field with the model object-->
                      <label for="address">Address</label>
                      <textarea rows="4" cols="50" id="address" name="address" #address="ngModel" class="form-control" [(ngModel)]="model.address" required>
                    </textarea>
                    <div *ngIf="address.errors && (address.touched || isSubmitted)">
                            <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger">
                                Address is required.
                            </div>
                        </div>
                    </div>  

              <div class="form-group">
                <!--Bind nationality field with the model object-->
                  <label for="nationality">Nationality</label>
                  <select class="form-control" #nationality="ngModel" id="nationality" required [(ngModel)]="model.nationality" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
                    <option *ngFor="let nationality of nationalities" [ngValue]="nationality.value">{{nationality.desc}}</option>
                </select>
                <p *ngIf="nationalities.length > 3">{{ ' All ASEAN countries in the list !' | uppercase }}</p>
                <div *ngIf="nationality.errors && (nationality.touched || isSubmitted)">
                        <div [hidden]="!nationality.errors.required && nationality.dirty" class="help-block alert alert-danger">
                            Nationality is required.
                        </div>
                </div>
            </div>

                  <!--dynamic rendered ID No. field-->
                  <div class="form-group">
                      <label for="idNo">Identification Number</label>
                      
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <!--<span class="input-group-text" id="basic-addon1">S</span>-->
                          </div>
                          <input id="idNo" name="idNo" type="text" #idNo="ngModel" class="form-control" [(ngModel)]="model.idNo"  value="{{ model.idNo }}" required/>
                      </div>
                      
                      <div *ngIf="idNo.errors && (idNo.touched || isSubmitted)">
                              <div [hidden]="!idNo.errors.required && idNo.dirty" class="help-block alert alert-danger">
                                  ID No. is required.
                              </div>
                      </div>
                  </div>

              <div class="form-group">
                <!--Bind contact number field with the model object-->
                  <label for="contactNumber">Contact Number</label>
                  <input id="contactNumber"  #contactNumber="ngModel" name="contactNumber" type="text" class="form-control"  [(ngModel)]="model.contactNumber" minlength="8" pattern="[0-9]*" required/>
                        <div *ngIf="contactNumber.errors && (contactNumber.touched || isSubmitted)">
                                <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="help-block alert alert-danger">
                                    Contact Number is required.
                                </div>
                                <div [hidden]="!contactNumber.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">Contact No. is invalid
                                    </span>
                                </div>
                                <div [hidden]="!contactNumber.errors.minlength" class="help-block alert alert-danger">
                                    <span class="help-block alert">Contact No. must be at least 8 digit long.
                                    </span>
                                </div>
                        </div>
              </div>

              <div class="form-group">
                <!--Bind age field with the model object-->
                  <label for="age">Age</label>
                  <input id="age"  #age="ngModel" name="age" type="number" class="form-control" placeholder="18"  [(ngModel)]="model.age" maxlength="2" pattern="([1][8-9]+)|([2-9][0-9]+)" required/>
                  <div *ngIf="age.errors && (age.touched || isSubmitted)">
                        <div [hidden]="!age.errors.required && age.dirty" class="help-block alert alert-danger">
                            Age is required.
                        </div>
                        <div [hidden]="!age.errors.pattern" class="help-block alert alert-danger">
                            <span class="help-block alert">You must be at least 18 years old.
                            </span>
                        </div>
                        <div [hidden]="!age.errors.maxlength" class="help-block alert alert-danger">
                            <span class="help-block alert">Invalid age group.
                            </span>
                        </div>
                </div>
              </div>

              <div class="form-group">
                <!--Bind friend name field with the model object-->
                  <label for="friend">Friend Name</label>
                  <input id="friend"  #friend="ngModel" name="friend" type="text" class="form-control" placeholder="Bobo"  [(ngModel)]="model.friend" required/>
              </div>

              <div class="form-group">
                  <hr/>
                  <!--submit button and reset button at the bottom-->
                  <button type="submit" [disabled]="!regiForm.form.valid" class="btn btn-success">Submit</button>
                  <button type="reset" class="btn btn-danger" (click)="regiForm.reset()">Reset</button>
              </div>
          </form>

      </div>
  </div>
  
  <!--Display bootstrap submitted codes on the right side. Hope it works though-->
  <div class="row" *ngIf="isSubmitted" >
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
            <div class="form-group">
                    <h1>Thanks for registration!</h1>
            </div>
              <div class="form-group">
                      <label >{{model.email}}</label> 
              </div>
              <div class="form-group">
                      <label >{{model.firstName}}</label> 
              </div>
              <div class="form-group">
                      <label >{{model.lastName}}</label> 
              </div>
              <div class="form-group">
                      <label >{{model.gender}}</label> 
              </div>
              <div class="form-group">
                      <label >{{model.address}}</label> 
              </div>    
              <div class="form-group">
                      <label >{{model.dateOfBirth}}</label> 
              </div>
              <div class="form-group">
                      <label >{{model.nationality}}</label> 
              </div>
              <div class="form-group">
                      <label >{{model.contactNumber}}</label> 
              </div>
              <div class="form-group">
                  <label >Age = {{model.age}}</label> 
              </div>
              <div class="form-group">
                  <label >Identification Number = {{model.idNo}}</label> 
              </div>
              <div class="form-group">
                  <label >Friend Name = {{model.friend}}</label> 
              </div>
      </div>
  </div>
</div>